:root {
    --primary-color: rgb(65, 82, 123);
    /* navy blue */
    --secondary-color: rgb(207, 179, 158);
    /* Sand */
    --text-color1: white;
    --text-color2: rgb(42, 42, 42);
    /* Off-white */
    --heading-font: "Roboto";
    --body-font: "Open Sans";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--text-color2);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header,
footer {
    background-color: var(--secondary-color);
}

header img {
    height: 110px;
    width: auto;
    padding: 10px;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    border: 3px solid var(--primary-color);
    padding: 2px 6px;
    background-color: rgba(255, 255, 255, 0.532);

}

.button_bar a {
    padding: 5px;
    border-left: 2px solid var(--primary-color);
}

nav li:first-child a {
    border-left: none;
}

li a {
    text-decoration: none;
    color: black;

}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--text-color1);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero,
.info {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.info {
    padding: 4rem;
    padding-bottom: 0;
    text-align: center;
    border: 1px 0 solid black;
}

.info p {
    margin: 0;
}

.map {
    float: left;
    padding-right: 10px;

}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0 10px;

}

form label,
form input {
    margin-top: 1rem;
}

form input,
form textarea,
form select {
    margin-top: .5rem;
    margin-bottom: 1rem;
}

form p {
    grid-row: span 1;
    margin: 0;
    padding: 0;
}

label[for="name"],
label[for="email"] {
    margin: 0;
}

.column2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

label[for="message"] {}

textarea {
    grid-column: span 2;
}

.subscribe {
    grid-column: span 2;
}

.button {
    padding: 3px;
}

h1 {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 12px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--text-color1)
}

h2 {

    width: 100%;
    padding: 12px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--text-color1);
}

.hero article {
    position: absolute;
    top: 268px;
    width: 96%;
    height: 150px;
    padding: 2px;
    background-color: var(--secondary-color);
    text-align: left;
}

.hero article img {
    float: right;
    width: 120px;
    padding: 8px;
    filter: opacity(0.95);
}

.adventures {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.adventures figure {
    margin: 0;
    text-align: center;
}

.adventures img {
    width: 140px;
    height: auto;
    padding: 5px;
}

.employee {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
    padding-top: 11px;
    clear: both;
    background-color: #f3f3f3;
    text-align: center;
}

.employee p {
    display: grid;
    grid-column: span 3;
    font-size: 30px;
    font-weight: 800;
}

.employee img {
    border: 5px solid var(--primary-color)
}

footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    height: 100px;
}

footer p {
    text-align: center;
}

.socialmedia {
    display: flex;
    justify-content: flex-end;
}

.socialmedia a {
    text-decoration: none;
    padding: 5px;
}