:root {
    --common-border: 1px solid black;
    --center-text: center;
    --auto-height: auto;
    --small-value: 1rem;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 53rem;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: var(--auto-height);
    border: var(--common-border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: var(--small-value);
    border: var(--common-border);
    padding: var(--small-value);
    background-color: #eee;
    color: #333;
    text-align: var(--center-text);
}

aside img {
    width: 200px;
    height: var(--auto-height);
}

footer {
    margin-top: 10px;
    border-top: 3px solid rgb(0 0 0 / 0.2);
    text-align: var(--center-text);
}